<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
		<title>Extracted Patches</title>
	</head>
	<body>
		<h2>Extracted Patches</h2>

			<table class="table table-striped" id="defects">
				<thead>
					<tr>
						{% for header in headers %}
							<th> {{header}} </th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
						{% for patch in patches %}
						<tr>
							<td><a href="static/data/patches/{{patch[2]}}"> <img src="static/data/patches/{{patch[2]}}" height="30" width="30"> </a> </td>
						{% for field in patch %}
							<td>{{field}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>

	</body>
</html>